/* 設定 */
$main: #3AB649;
$sub:  #b57322;
$bg: #ecf9ef;

$bp-sp: 600px;
$bp-tab: 960px;
$bp-pc: 1340px;

@mixin sp  { @media (max-width: $bp-sp)  { @content; } }
@mixin tab { @media (max-width: $bp-tab) { @content; } }
@mixin pc  { @media (max-width: $bp-pc)  { @content; } }